html {
    scroll-behavior: smooth;
}

#topBlackBar {
    border-top: .5em solid #000;
}

.navbar-header{
    padding-top: 2%;
    color: rgb(25, 65, 54);
    padding-left: 7%;
    font-weight: 800;
}

.navbar-header h4 a{
    font-weight: bolder;
}

.navbar-header img{
    width: 5%;
    padding-right: 1%;
}

h1, h2, h3, h4, h5, button{
    font-family: Fraunces;
}

.front-page{
    padding: 10%;
    padding-bottom: 0%;
}

.front-page h1{
    padding-bottom: 2%;
    font-size: 2.5em;
    padding-left: 2%;
}

.front-page h3{
    padding-left: 5%;
    padding-bottom: 1%;
    width: 60%;
    font-size: 7vw;
}

.front-page button{
    position: relative;
    left: 5%;

}


.about{
    margin-top: -1em;
    background-color: rgb(66, 103, 94);
    color: white;
    height: 25em;
    padding-top: 10%;
    padding-bottom: 5%;
    
}

#left{
    float: left;
    padding-left: 10%;
    width: 50%;
}

#right{
    float: right;
    padding-right: 10%;
    width: 50%;
}

.wrapper{
    display: flex;
}
.projects{
    padding: 7%;
    padding-left: 11%;
    padding-top: 5%;
    display: inline-block;

}

.projects h3{
    font-size: 2em;
}

.projects p{
    font-size: 1em;
    font-weight: 200;
    width: 30em;
    text-align: justify;
    padding-top: 1%;
    padding-bottom: 4%;
}


button{
    background-color: rgb(66, 103, 94);
    color: white;
    border-radius: .5em;
    border: none;
    font-weight: bold;
}


.projectsButton{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}   

a{
    color: inherit;
}

.project-cards{
    width: 20vw;
    text-align: center;
}


.project-cards img{
    width: 70%;
    border: black solid;
    margin-bottom: 10px;
    border-radius: 8px;

}

.project-cards h3{
    padding-top: .5vw;
    font-size: 25px;
    width: 300px;
    height: 50px;
    text-align: center;
    display: inline-block;
}

.project-cards p{
    font-size: 14px;
    padding: 1vw;
    width: 20vw;
    font-weight: light;
    text-align: justify;
}

ul li { 
    list-style: none; display: inline; 
}


.card-button{
    padding: .3em; 
    padding-left: 1.7em;
    padding-right: 1.7em;    
    background-color: rgb(66, 103, 94);
    color: white;
    border-radius: .5em;
    border: none;
    font-size: .9em;
    font-weight: 400;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}ml

.contact{
    background-color: rgb(66, 103, 94);
    color: white;
    height: 400px;
    padding-top: 5vw;
    padding-bottom: 5%;
    text-align: center;
    
}

.contact h1{
    font-size: 60px;
}
.contact img{
    width: 40px;
}

.bottom{
    background-color: #000;
    color: white;
    text-align: center;
}



@media only screen and (max-width: 600px) {
    .navbar-collapse.in {
        
    }

      
    .front-page{
        height: 140vw;
        margin-top: 30vw;
    }
    .front-page h1{
        width: 80vw;
        font-size: 8vw;
    }
    
    .front-page h3{
        padding-top: 4vw;
        width: 70vw;
        font-size: 5.5vw;
        
    }

    .front-page button{
        margin-top: 15vw;
    }





    .about{
        margin-top: -1em;
        height: 25em;
        width: auto;
        
    }
    .about h3{
        padding-top: 1.5em;
        font-size: 7vw;
    }

    .about p{
        font-size: 3.5vw;
        text-align: justify;
        width: 80vw;
    }

    #right{
        width: 100%;
        padding-left: 10vw;
        padding-top: 5vw;
        text-align: justify;
    }



    .projects h3{
        font-size: 7vw;
    }

    .projects p{
        font-size: 3.5vw;
        text-align: justify;
        width: 80vw;
    }

    .wrapper{
        display: inline;
    }

    .project-cards{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .project-cards img{
        width: 75%;
    }
    
    .card-button{
        margin-bottom: 10vw;
        width: 100px;
    }

    .card-button{
        padding: 2vw; 
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: .9em;
        font-weight: 400;
    }

    .project-cards h3{
        margin-top: 5vw;
        font-size: 5.5vw;
        
    }

    .project-cards p{
        margin-left: 2vw;
        margin-bottom: 15vw;
        font-size: 3.4vw;
        width: 80vw;
        text-align: justify;
    

    }
  }