html {
    scroll-behavior: smooth;
}

#topBlackBar {
    border-top: 7px solid #000;
}

.navbar-header{
    padding-top: 2%;
    color: rgb(25, 65, 54);
    padding-left: 7%;
    font-weight: 800;
}

.navbar-header h4{
    font-weight: bolder;
}

.navbar-header img{
    width: 5%;
    padding-right: 1%;
}

h1, h2, h3, h4, h5, button{
    font-family: Fraunces;
}

.front-page{
    padding: 10%;
    padding-bottom: 0%;
}

.front-page h1{
    padding-bottom: 2%;
    font-size: 300%;
    padding-left: 2%;
}

.front-page h3{
    padding-left: 5%;
    padding-bottom: 1%;
    width: 60%;
    font-size: 200%;
}

.front-page button{
    position: relative;
    left: 5%;

}


.about{
    background-color: rgb(66, 103, 94);
    color: white;
    height: 400px;
    padding-top: 10%;
    padding-bottom: 5%;
    
}

#left{
    float: left;
    padding-left: 10%;
    width: 50%;
}

#right{
    float: right;
    padding-right: 10%;
    width: 50%;
}

.wrapper{
    display: flex;
}
.projects{
    padding: 7%;
    padding-left: 11%;
    padding-top: 5%;
    display: inline-block;

}

.projects h3{
    font-size: 38px;
}

.projects p{
    font-size: 15.5px;
    font-weight: 200;
    width: 500px;
    padding-top: 1%;
    padding-bottom: 4%;
}


button{
    background-color: rgb(66, 103, 94);
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}


.projectsButton{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}   

a{
    color: inherit;
}

.project-cards{
    width: 20vw;
    text-align: center;
}


.project-cards img{
    width: 70%;
    border: black solid;
    margin-bottom: 10px;
    border-radius: 8px;

}

.project-cards h3{
    padding-top: .5vw;
    font-size: 25px;
    width: 300px;
    height: 50px;
    text-align: center;
    display: inline-block;
}

.project-cards p{
    font-size: 14px;
    padding: 1vw;
    width: 20vw;
    font-weight: light;
    text-align: justify;
}

ul li { 
    list-style: none; display: inline; 
}


.card-button{
    padding: 10px; 
    padding-left: 35px;
    padding-right: 35px;    
    background-color: rgb(66, 103, 94);
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.contact{
    background-color: rgb(66, 103, 94);
    color: white;
    height: 400px;
    padding-top: 5vw;
    padding-bottom: 5%;
    text-align: center;
    
}

.contact h1{
    font-size: 60px;
}
.contact img{
    width: 40px;
}

.bottom{
    background-color: #000;
    color: white;
    text-align: center;
}